<!--
<div id="name"><h4>{{name}}</h4></div>
-->
<div id="estimates">
    <h4>Activity Estimation</h4>
    <label class="item item-input">
        <input id="stepInput" type="text" placeholder="Steps">
    </label>
    <label class="item item-input item-select">
        <span class="input-label">Intensity</span>
        <select id="intensityInput">
            <option>Low</option>
            <option>Light</option>
            <option>Moderate</option>
            <option>Active</option>
            <option>Very Active</option>
            <option>Exceptionally Active</option>
            <option>Athletic</option>
        </select>
    </label>
    <h4>Time Estimation</h4>
    <label class="item item-input">
        <input id="durationInput" type="text" placeholder="Duration">
    </label>
    <label class="item item-input item-select">
        <span class="input-label">Time measurement</span>
        <select id="timeInput">
            <option>sec</option>
            <option>min</option>
            <option>hr</option>
        </select>
    </label>
    <div class="buttons" ng-click="show()">
        <button class="button button-positive button-full">Show Me</button>
    </div>
</div> 
<div id="actual">
    <div id="results_table">
        <div class="row">
            <div class="col"><strong>Items</strong></div>
            <div class="col"><strong>You</strong></div>
            <div class="col"><strong>Actual</strong></div>
        </div>
        <div class="row">
            <div class="col result_col">Steps</div>
            <div class="col result_col" id="yourSteps"></div>
            <div class="col result_col" id="actualSteps">{{steps}}</div>
        </div>
        <div class="row">
            <div class="col result_col">Intensity</div>
            <div class="col result_col" id="yourIntensity"></div>
            <div class="col result_col" id="actualIntensity">{{actualIntensity}}</div>
        </div>
        <div class="row">
            <div class="col result_col">Duration</div>
            <div class="col result_col" id="yourDuration"></div>
            <div class="col result_col" id="actualDuration">{{duration}}</div>
        </div>
    </div>
    
    <div class="buttons" ng-click="finish()">
        <button class="button button-full button-positive">Finish</button>
    </div>
</div>